Python/.idea/
*.pdf
*.mod
*.o
FortranHistoric/sec.html
FortranHistoric/SEC_xy_light
FortranHistoric/sec.ps
*.plist
FortranHistoric/Split/run.dSYM/Contents/Resources/DWARF/run
FortranHistoric/Split/run
*.html
*.md5
*.map
*.js
*.sty
*.css
FortranHistoric/Split/latex/Makefile
FortranHistoric/split.f90
Fortran90/Benchmark/run
CPP/Benchmark/benchmark
CPP/Benchmark/ConstraintGraph/Makefile~
.DS_Store
CPP/Benchmark/ConstraintGraph/tony/constraint_graph
CPP/Benchmark/ConstraintGraph/tony/constraint_graph
CPP/Benchmark/ConstraintGraph/tony/constraint_graph_openmp
CPP/Benchmark/ConstraintGraph/constraint_graph_openmp
CPP/Benchmark/ConstraintGraph/tony/simul
CPP/Benchmark/ConstraintGraph/tony/Split/simul
*.cmake
*.check_cache
.idea
cmake-build-debug
CPP/Benchmark/ConstraintGraph/tony/Split/constraint_forward_02.dat
CPP/Benchmark/Checker/j
CPP/Benchmark/Checker/p.dat
CPP/Benchmark/Checker/simul
CPP/Benchmark/Checker/Historic/bench
CPP/Benchmark/Checker/constraint_01_prune3rd.dat
CPP/Benchmark/Checker/constraints.dat
CPP/Benchmark/Checker/constraints1.dat
CPP/Benchmark/Checker/constraints2.dat
CPP/Benchmark/Checker/Historic/active_history.dat
CPP/Benchmark/Checker/Makefile.bak
CPP/Benchmark/Checker/nzero.dat
CPP/Benchmark/Checker/nzero.dat1
CPP/Benchmark/Checker/Checker
CMakeFiles/
CPP/Benchmark/Checker/CMakeCache.txt
CPP/Benchmark/Checker/historic/CMakeCache.txt
CPP/Benchmark/Checker/unfoundConstraints.dat
CPP/Benchmark/Checker/Checker.tar.gz
active_history.dat
foundConstraints.dat
unfoundConstraints.dat
CPP/Benchmark/Checker/Checker.cbp
j
j.dat
CPP/Benchmark/Historic/bench
Manuscripts/ConTeP/ConTeP.aux
Manuscripts/ConTeP/ConTeP.fdb_latexmk
Manuscripts/ConTeP/ConTeP.fls
Manuscripts/ConTeP/ConTeP.log
Manuscripts/ConTeP/auto/General.el
Manuscripts/ConTeP/ConTeP.bbl
Manuscripts/ConTeP/ConTeP.blg
Manuscripts/ConTeP/ConTeP.out
Manuscripts/ConTeP/ConTeP.toc
CPP/Benchmark/ConstraintGraph/ParallelBenchmark/atom.cc
CPP/Benchmark/ConstraintGraph/ParallelBenchmark/contact.dat
CPP/Benchmark/ConstraintGraph/ParallelBenchmark/output.dat
Manuscripts/ConTeP/auto/ConTeP.el
Manuscripts/ConTeP/auto/Para_spheres.el
Manuscripts/ConTeP/ConTeP.spl
Manuscripts/ConTeP/ConTeP.synctex.gz
Manuscripts/ConTeP/links
CPP/Checker/constraint_01_prune3rd.dat
CPP/Checker/constraints1.dat
CPP/Checker/nzero.dat
CPP/Checker/count.dat
Data.*
CPP/ParallelBenchmark/Result/toto2
CPP/ParallelBenchmark/simul
Cache.*
CPP/ParallelBenchmark/*dat
CPP/ParallelBenchmark/Result/EPH.dat
Broken
*.pyc
*/*.pyc
Python/ConstraintBenchmark/construct_benchmark_constraint.pyc
Fortran90/Generate_config/ecmc
CPP/ParallelBenchmark/main1.cc
Run.*
Save.*
Time*
run.checker/run/nzero.dat
CPP/Checker/checker
tex/_region_.aux
tex/_region_.fls
tex/_region_.log
tex/_region_.synctex.gz
tex/_region_.fdb_latexmk
tex/memory.aux
tex/memory.fdb_latexmk
tex/memory.synctex.gz
tex/_region_.tex
tex/auto/memory.el
tex/memory.fls
tex/memory.log
Benchmark/*
CPP/GraphValidateCellECMC/GraphValidateCellECMC
CPP/MultiThreadECMC/MultiThreadECMC
Fortran90/CellECMC/CellECMC
.DS_Store
CPP/GraphValidateCellECMC/CMakeLists.txt
CPP/MultiThreadECMC/CMakeLists.txt
